absl-py==0.8.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cycler==0.10.0
Cython==0.29.14
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
torchvision==0.2.1
-e git+https://github.com/facebookresearch/detectron2.git@8863132c2c121311336146f90c036145aa9c8daf#egg=detectron2
Flask==1.1.1
grpcio==1.24.3
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jsonpickle==1.2
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.2
olefile==0.46
opencv-contrib-python==4.1.1.26
pbr==5.4.3
Pillow==6.2.0
portalocker==1.5.1
protobuf==3.10.0
pycparser==2.19
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.1.2
requests==2.22.0
Shapely==1.7a2
six==1.12.0
stevedore==1.31.0
tabulate==0.8.5
tensorboard==2.0.0
termcolor==1.1.0
tqdm==4.36.1
urllib3==1.25.6
Werkzeug==0.16.0
yacs==0.1.6
